body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.deletebutton {
  margin-right: 20px;
}

.formgroup {
  padding: 10px;
}

.manifest {
  margin: 20px;
}

.cardname {
  padding: 20px !important;
}

.no-padding {
  padding: 0px !important;
}

